.load{
    position: absolute;

    top: 35%;
    left: 45%;

}
#loading{
    position: relative;
    top: -10px;
    left: 10px;
}
.init{
    background-color: antiquewhite;
}
body{
    /* background-image: url(/img/superMarket.jpg); */
}